
@font-face{
    font-family : 'iransans';
    src:url("./fonts/IRANSansWeb.ttf");
}

body{
    margin: 0;
    padding: 0;
    font-family: iransans
}
.main{
    width: 70%; 
}
#root{
    height: 100vh;
    width: 90vw;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}